.Boxparents{
    background-color: whitesmoke;
}
.Boxhead{
    background:  linear-gradient(45deg, #212529, #9f7126);
    color: white;
}
.headerDwon {
  
    /* background: url('../../../public/image/fond/6.jpg') no-repeat; */
    object-fit: cover;
    background-size: cover;
    /* height: 33rem; */
    border-radius: 20px;
    margin:  7rem 0;
    /* background-color: rgb(250, 162, 0); */
}

.headerDwon .headerDwon_content .letterBox {
    width: 75%;
}

.headerDwon .headerDwon_content h2 {
    width: 50%;
    font-weight: 500;
    color: white;
    font-size: clamp(3rem, 2rem, 0.5rem);

}

.headerDwon .headerDwon_content p {
    color: white;
    font-size: clamp(1rem, 1rem, 0.5rem);
}

.headerDwon .headerDwon_content button {
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 0.7rem 2rem;
    background-color: yellow;
    font-size: clamp(1.2rem, 1rem, 0.5rem);
    border-radius: 50px;
}



.voirlesproduct{
  background-color: white;
    transition: 0.5s;
    cursor: pointer;
}

.voirlesproduct:hover{
   color: black;
    transition: 0.5s;
    background-color: rgb(55 65 81 1);
    
}

.ensavoirplus{
    color: white;
    transition: 0.5s;
    cursor: pointer;
}

.ensavoirplus:hover{
    color: white;
    transform: scale(1.1);
    transition: 0.5s;
  
    
}
/* @media screen and (max-width: 768px) {
    .headerDwon .headerDwon_content h2 {
        width: auto;
    }
} */

